.logo{
    color: #ff523b;
}
body{
    /*font-family: 'IM Fell English SC', serif;*/
    font-family: 'Open Sans Condensed', sans-serif;

}
.contact {
    padding-bottom: 100px;
}
.container2 {
    margin: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
td a{
    color: burlywood;
}
td a:hover{
    text-decoration: none;
    color: white;
}
.Help{
    margin: 10px 10px 10px 10px;
}
table thead tr td{
    font-size: 20px;
    font-weight: bold;
}
table {
    border-collapse: separate;
    border-spacing: 50px 0;
}
td {color: burlywood;
    padding: 5px 0;
    font-size: 15px ;
}
.contact{
    margin-top: 150px;
    justify-content: center;
    display: flex;
    background-color: #563434;


}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none ;
}
nav ul li{
     display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
p{
    color: #ffffff;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    text-align: left;
    flex-basis: 50%;
    min-width: 300px;
    margin: 10px 0px 300px 0px;
}
.col-2 img{
    max-width: 150%;
    padding: 50px 0;
    border-radius: 50px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 10px 0;
    color: #ffffff;
}
.col-2 small {
    color: white;
}
.btn{
    display:inline-block;
    background:rgb(255, 165, 0);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
/*.header {*/
/*    !*background: radial-gradient(#fff,#ffd6d6);*!*/
/*    background-image: url("src/images/back.jpg");*/
/*}*/
/*.categories{*/
/*    margin: 70px 0;*/
/*}*/
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    /* width: 100%; */
    width: 320px;
    border-radius: 3px;
    /*height: 250px;*/
}
.col-3 img:hover {
    margin-right: 10px;
    width: 130%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-top: 50px;

    display: block;
}
.col-4 img{
    width: 100%;
    border-radius: 8px;
}
.col-4 img:hover {
    margin: 10px;
    /*width: 288px;*/
    /*height: 288px;*/
    width: 90%;
}
.sss{
    text-decoration: none;
}
.title  {
    text-align: center;
    margin:0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
/* .col-3 img:hover {
    margin-left: -75px;
    margin-top: -50px;
    width: 350px;
    height: 350px;
} */


.col-2 {
    padding-top: 100px;
    font-size: 21px;
    font-weight: 400px;
}

a.sss {
    color: #555555;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
}
a:hover {
    color: #ff523b;
}
@media (max-width: 1025px) {
    .row {
        flex-direction: column;
    }
}
.rating {
    visibility: hidden;
    text-align: center;
    
}

.col-4:hover .rating {
    visibility: visible;
}
.contact1{
    font-size: 20px;

}
.contact1 td{
    color: #563434;
}
.contact1 table thead tr td{
    font-size: 20px;
    font-weight: bold;
}
.contact1 table {
    border-collapse: separate;
    border-spacing: 50px 0;
}
.contact1 td {
    color: #563434;
    padding: 5px 0;
    font-size: 15px ;
}



      